

.Card-group {
  
        display: grid;
        grid-template-columns: 1fr  1fr 1fr;
        margin-right: 130px;
        padding-right: 130px;
   
        
   
}
.Course-Name {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        
}

@media (max-width: 767.98px) { 
    .Card-group {

        display: grid;
        grid-template-columns: 1fr;
    }
}