


.Course-Name {
        display: flex;
        flex-direction: row;
        
        
}

@media (max-width: 767.98px) { 
    .Card-group {

        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}